.email{
    color: black;
    font-weight: 700;
    font-size: 16px;
    text-align : center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.label{
    color: black;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.email span {
    font-weight: 400;
}

.btn{
    background-color : black;
    padding : 5px 20px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.btn-flex{
    display : flex;
    align-items: center;
    justify-content: center;
    gap : 10px;
    margin-top: 5px;
}

.all-input{
    padding : 5px 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black; 
}

.input-align{
        display : flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    gap : 15px;
}

.logout{
    text-align : center;
    margin : 0 auto;
    display : block;
}

.form{
    max-width : 500px;
    padding : 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction : column;
    gap : 5px;
    text-align : center;
    margin: auto;
}
input{
    width: full;
    display: block;
}

.login{
    margin-top: 100px;
}